<!doctype html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Control Commands Roboter</title>
</head>

<body>

  <h1>Was ist das für ein Roboter?</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 23rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Hey, auf dieser Webside kannst du mich, mit den Buttons unten, kontollieren. Ich kann
              zum Beispiel nach links und rechts fahren oder etwas greifen. Versuch es einfach mal!</p>
            <button id="ZuDenButtons" href="#" class="btn btn-primary">Zu den Buttons!</button>
            <canvas id="platzhalter" width="325" height="20"></canvas>
            <canvas id="tutorial" width="326" height="326" style="border: 1px solid black"></canvas>
          </div>
        </div>
      </div>
      <div class="col">
        <img src="{{ robot_image }}" width="900p">
      </div>
    </div>
  </div>

  <div id="response"></div>


  <h2>Richtung</h2>

  <div class="container" x="500" y="800" style="padding-top: 100; margin-left: 100px;">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Roboter dreht sich um 90° nach links, während er ausrollt oder sie weiter Gas geben
            </p>
            <a href="/api/left90" class="btn btn-primary btn-lg">left 90°</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">der Roboter dreht sich um 45° nach links, während er asurollt oder sie weiter Gas geben
            </p>
            <a href="/api/left45" class="btn btn-primary btn-lg">left 45°</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">der Roboter dreht sich um 45° nach rechts, während er ausrollt oder sie weiter Gas
              geben</p>
            <a href="/api/right45" class="btn btn-primary btn-lg">right 45°</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">der Roboter dreht sich um 90° nach rechts, während er ausrollt oder sie weiter Gas
              geben</p>
            <a href="/api/right90" class="btn btn-primary btn-lg">right 90°</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Bewegung</h2>

  <div class="container" x="500" y="1200" style="padding-top: 100; margin-left: 100px;" id="ScrollPosition">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Roboter fährt schnell vorwärts. Pass auf er rollt aus und stopt nicht sofort! Sie
              können die Richtung währenddem ändern.</p>
            <a href="/api/fastForward" class="btn btn-primary btn-lg">forward fast</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Roboter fährt vorwärts. Pass auf er rollt aus und stopt nicht sofort! Sie können
              die Richtung währenddem ändern.</p>
            <a href="/api/forward" ip="forward" class="btn btn-primary btn-lg">forward</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Roboter fährt rückwärts und bremmst. Pass auf er rollt aus und stopt nicht sofort!
              Sie können die Richtung währenddem ändern.</p>
            <a href="/api/backward" class="btn btn-primary btn-lg">backward</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Roboter fährt schnell rückwärts und bremmst. Pass auf er rollt aus und stopt nicht
              sofort! Sie können die Richtung währenddem ändern.</p>
            <a href="/api/fastBackward" class="btn btn-primary btn-lg">backward fast</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vr"></div>

  <h2>Greifen</h2>

  <div class="container" x="500" y="1500" style="padding-top: 100; margin-left: 100px;">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Arm des Roboters senkt sich.</p>
            <a href="/api/down" class="btn btn-primary btn-lg">down</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Die Zange schließt sich.</p>
            <a href="/api/take" class="btn btn-primary btn-lg">Take it!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Die Zange öffnet sich.</p>
            <a href="/api/drop" class="btn btn-primary btn-lg">Drop it!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Der Arm des Roboter hebt sich.</p>
            <a href="/api/up" class="btn btn-primary btn-lg">up</a>
          </div>
        </div>
      </div>
    </div>
  </div>












  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>

    $("#ZuDenButtons").click(function () {
      $([document.documentElement, document.body]).animate(
        {
          scrollTop: $("#ScrollPosition").offset().top
        }, 1);
    });

    $('a').bind('click', function (e) {
      var url = $(this).attr('href');
      // $('#response').load(url); // load the html response into a DOM element
      e.preventDefault(); // stop the browser from following the link

      var test = $.ajax({
        url: url,
        context: document.body
      })

      var c = document.getElementById("tutorial");
      var ctx = c.getContext("2d");

      switch (url) {
        case "/api/forward":
          test.done(function () {
            ctx.moveTo(163, 163);
            ctx.lineTo(163, 203);
            ctx.stroke();
          });
          break;

        case "/api/backward":
          test.done(function () {
            ctx.moveTo(163, 163);
            ctx.lineTo(163, 123);
            ctx.stroke();
          });
          break;

        case "/api/fastForward":
          test.done(function () {
            ctx.moveTo(163, 163);
            ctx.lineTo(163, 243);
            ctx.stroke();
          });
          break;

        case "/api/fastBackward":
          test.done(function () {
            ctx.moveTo(163, 163);
            ctx.lineTo(163, 83);
            ctx.stroke();
          });
          break;

        default:
          $('#response').load(url); // load the html response into a DOM element
          break;
      }
    });

    var Richtung = function() {
      switch(rotation) {
        case "0" || "360":
          rotierwertx = 0
          rotierwerty = 40
          rotation = 0

        case "45":
          rotierwertx = -20
          rotierwerty = 20

        case "405":
          rotierwertx = -20
          rotierwerty = 20

        case "90":
          rotierwertx = -40
          rotierwerty = 0
        
        case "135":
          rotierwertx = -20
          rotierwerty = -20
        
        case "180":
          rotierwertx = 0
          rotierwerty = -40
        
        case "225":
          rotierwertx = 20
          rotierwerty = -20
        
        case "270":
          rotierwertx = 40
          rotierwerty = 0
        
        case "315":
          rotierwertx = 20
          rotierwerty = 20
      }
    }
    
    // var moveForward = function() {
    //   $.ajax({
    //   url: "/api/forward",
    //   context: document.body
    //   }).done(function() {
    //     var c = document.getElementById("tutorial");
    //     var ctx = c.getContext("2d");
    //     ctx.moveTo(0, 0);
    //     ctx.lineTo(200, 100);
    //     ctx.stroke();
    //   });
    // };
  </script>

</body>

</html>